@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; }

.icon-logo {
  border-radius: 40%; }

body main {
  width: 100vw;
  background-color: #f3cec4;
  background-image: url("../recursos/fondo pastel-rayitas.png"); }

ul li {
  list-style: none;
  font-size: 15px; }

a {
  text-decoration: none !important;
  color: #046adf; }

.a-hover:hover {
  background-color: #00aeffda;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  border-radius: 17px; }

iframe {
  margin: 0px 10px;
  margin-top: 5%; }

.section-divs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.section-divs-container:hover {
  font-weight: bold; }

.tres-divs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 120px;
  padding: 20px;
  margin: 10px;
  border-radius: 35%;
  border: 5px #48b6d1c4 solid;
  font-weight: bold;
  background-color: #77dbf1;
  color: #004455; }

.tres-divs:hover {
  background-color: #62e2ff;
  color: white;
  border: 5px #3ed7fdc4 solid;
  border-radius: 40%;
  height: 80px; }

@media (max-width: 768px) {
  body {
    padding: 0px; }
  iframe {
    width: 90%; }
  .tres-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100px;
    margin: 10px; }
  .tres-divs:hover {
    background-color: #62e2ff;
    color: white;
    border: 5px #3ed7fdc4 solid;
    border-radius: 40%;
    height: 40px;
    width: 90px; } }

.logo1 {
  height: 100px;
  border-radius: 40%;
  transform: rotateY(360deg);
  transition: all 1s;
  overflow: hidden; }

.logo1:hover {
  transform: rotateZ(360deg);
  transition: all 1s; }

.navb {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-color: white; }

.section-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  text-decoration: none underline;
  font-family: Arial, sans-serif;
  font-size: 17px; }

.carrito {
  height: 40px;
  border-radius: 15px; }

@media (max-width: 768px) {
  .logo1 {
    height: 70px; }
  .carrito {
    height: 30px;
    margin-right: 2px;
    border-radius: 15px; }
  .navb {
    padding: 20px;
    flex-direction: column; } }

footer {
  background-color: white; }

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  min-height: 27vh;
  overflow: hidden; }

.uls-foot {
  font-size: medium;
  padding: 5px; }

.fotter-ul-li {
  font-weight: bold; }

footer small {
  display: flex;
  justify-content: center; }

@media (max-width: 768px) {
  .foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin: auto;
    height: 65% !important;
    width: 100%; }
  .uls-foot {
    display: flex;
    flex-direction: column;
    font-size: medium; }
  .fotter-ul-li {
    font-size: small; }
  .foot-log {
    width: 120px; } }

.tex-inicio {
  margin: 10px;
  padding-right: 10%;
  font-size: large; }

.eslogan {
  margin: 15px;
  font-size: xx-large;
  align-content: center; }

.buscador {
  width: 250px;
  padding: 8px;
  margin: 15px;
  align-content: center; }

.buscador:hover {
  padding: 10px; }

input {
  padding: 3px;
  align-items: start;
  border: none;
  border-radius: 60px;
  font-style: italic; }

input:hover {
  padding: 4px; }

.img-home {
  align-content: center;
  margin-left: 20%; }

.inicio {
  background-color: #f29696;
  padding: 20px; }
  .inicio h1 {
    font-size: xx-large; }

.inicio-subtitle {
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: xx-large;
  margin-top: 10px; }

.inicio-section {
  display: flex;
  justify-content: center; }

.container-products {
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "product1 product2 product3";
  padding: 3%;
  width: 70%;
  height: 52%;
  transition: all 1s;
  overflow: hidden; }

.product1 {
  grid-area: product1;
  background-color: white;
  border-radius: 10px;
  padding: 5px 0px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  flex-direction: column;
  transform: translateX(50px); }

.img1 {
  width: 85%; }

.product2 {
  grid-area: product2;
  background-color: white;
  border-radius: 10px;
  padding-top: 30px;
  padding: 5px 0px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(50px); }

.img2 {
  width: 90%; }

.product3 {
  grid-area: product3;
  background-color: white;
  border-radius: 10px;
  padding: 6px 0px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateX(-50px); }

.img3 {
  width: 92%; }

.img-container {
  display: flex;
  justify-content: center; }

.cont-info-prod {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 30%;
  overflow: hidden; }

.bay {
  width: 150px;
  background-color: #0076fc;
  color: white;
  padding: 8px;
  margin-top: 3px;
  border: none;
  border-radius: 8px;
  font-size: medium; }

.bay:hover {
  background-color: #038eff;
  font-weight: bold;
  border-radius: 12px; }

.inicio-article-links {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img-adop img-adop  img-vet" "img-adop img-adop  img-pelu";
  width: 100%;
  height: 55%;
  margin-top: 20px;
  background-color: #86e7ff;
  border-radius: 3%;
  justify-content: center;
  justify-items: center;
  transition: all 1s; }

.img-adop {
  grid-area: img-adop;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  overflow: hidden; }

.img-adop:hover {
  transform: translateY(-10px);
  transition: all 1s; }

.img-vet {
  grid-area: img-vet;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  align-items: center;
  overflow: hidden; }

.img-vet:hover {
  transform: translateY(-7px);
  transition: all 1s; }

.img-pelu {
  grid-area: img-pelu;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  align-items: center;
  overflow: hidden; }

.img-pelu:hover {
  transform: translateY(-9px);
  transition: all 1s; }

.link-adop {
  width: 100%; }

.links-serv {
  width: 100%;
  height: 100%; }

.inicio-3rsección {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%; }

@media (max-width: 1126px) {
  .img-home {
    width: 100%;
    margin-left: 0%; }
  .img1 {
    width: 110%;
    overflow: scroll; }
  .inicio-title-PRODC {
    font-size: large; }
  .container-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "product1 product2" "product3 product3";
    width: 550px;
    height: 40%; }
  .product3 {
    margin: 5% 28%; }
  .cont-info-prod {
    padding: 0px; }
  .inicio-article-links {
    height: 47%; }
  .links-serv {
    width: 100%; } }

@media (max-width: 768px) {
  .buscador {
    width: 200px; }
  .eslogan {
    margin-top: 10px;
    font-size: x-large; }
  .container-products {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "product1 " "product2 " "product3 ";
    height: 42%;
    width: 380px; }
  .product1 {
    transform: none;
    transition: none; }
  .product2 {
    transform: none;
    transition: none; }
  .product3 {
    margin: 22px;
    transform: none;
    transition: none; }
  .inicio-article-links {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "img-adop" "img-vet" "img-pelu";
    height: auto;
    width: 92%;
    padding: 5px;
    margin: 3% 3%;
    align-items: center; }
  .img-adop {
    margin: 0px 20px; }
  .img-vet {
    margin: 7px 20px; }
  .img-pelu {
    margin: 10px 20px; } }

.prod-section {
  background-color: #3dccec;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  padding: 60px;
  overflow: hidden;
  margin-top: 20px; }

.img-prod {
  width: 600px; }

.prod.article {
  display: flex;
  flex-wrap: wrap; }

.font-prod {
  font-size: x-large !important;
  margin-left: 10px; }

.lista-productos {
  display: grid;
  grid-template-columns: 4, 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . .";
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  justify-items: center; }

.card {
  background-color: white;
  border-radius: 2px;
  width: 320px;
  height: 500px !important;
  box-shadow: 2px 2px 7px;
  margin: 10px;
  overflow: visible; }

.card:hover {
  background-color: #faf8f6; }

.card-body {
  overflow-x: visible;
  margin: 3px;
  font-size: medium; }

.comedero {
  width: 100%; }

@media (max-width: 1330px) {
  .img-prod {
    width: 100%; }
  .lista-productos {
    display: grid;
    grid-template-columns: 0, 5fr 0, 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". ." ". .";
    height: auto;
    padding: 20px; } }

@media (max-width: 768px) {
  .prod-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    overflow: visible; }
  .img-prod {
    width: 100%;
    border-radius: 30px; }
  .lista-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "." "." "." ".";
    height: auto;
    width: auto; } }

.serv-main-h1 {
  display: flex;
  justify-content: center;
  background-color: #05c1ebc7;
  padding: 20px; }

.serv-article-adop {
  padding: 30px;
  background-color: #f5bac3;
  border: 1px #e07d7d solid;
  border-radius: 30px;
  margin: 50px; }

.boxs-adop-container {
  background-color: #6de2ffdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.serv-article-requisitos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  padding: 5%; }

.container-requisitos {
  width: 450px;
  margin: 4%; }

.serv-article-preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 5%;
  padding-top: 0%; }

.accordion2 {
  background-color: #b8e9ff;
  border-radius: 15px; }

.serv-article-vet {
  width: 60%;
  padding: 30px;
  margin: 20px;
  background-color: #f5bac3;
  border: 1px #e07d7d solid;
  border-radius: 30px; }

.serv-map-vet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0% 2%; }

.info-Maps li {
  margin: 10px;
  padding: 8px; }

.serv-map-pelu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0% 2%; }

.serv-article-pelu {
  width: 60%;
  padding: 30px;
  margin: 20px;
  background-color: #f5bac3;
  border: 1px #e07d7d solid;
  border-radius: 30px; }

@media (max-width: 892px) {
  .serv-article-requisitos {
    display: flex;
    flex-direction: column-reverse; }
  .container-requisitos {
    width: 100%; }
  .serv-article-preguntas {
    width: 100%; }
  .serv-vet-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .serv-map-vet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .serv-article-vet {
    margin-left: 0%;
    width: 75%; }
  .serv-pelu-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .serv-map-pelu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .serv-article-pelu {
    margin-left: 0%;
    width: 75%; } }

.nos-section-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 60px; }

.nos-info-divs {
  display: flex;
  width: 500px;
  height: 110px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; }

.nos-article-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nos-quienes-somos {
  display: flex;
  justify-content: space-evenly; }

.nos-article-info1 {
  width: 650px;
  height: 120px;
  background-color: #38c2e0;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  border: #24b6d6 solid;
  align-items: center; }

.nos-article-info2 {
  width: 82%;
  height: 105px;
  background-color: #05c1ebc7;
  padding: 27px;
  margin: 10px;
  border-radius: 5px;
  border: #24b6d6 solid;
  overflow: visible;
  align-items: center; }

@media (max-width: 1145px) {
  .nos-quienes-somos {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    align-content: space-around;
    flex-wrap: wrap; }
  .img-quines-somos {
    width: 40%; } }

@media (max-width: 768px) {
  .nos-section-divs {
    display: block;
    align-items: start;
    margin: auto; }
  .nos-info-divs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 380px;
    height: 100%; }
  .nos-article-info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto; }
  .nos-article-info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    width: 80%;
    height: auto; } }

.cont-h1 {
  margin: 20px;
  font-size: xx-large; }

.cont-strong {
  padding: 20px;
  display: flex;
  flex-wrap: wrap; }

.cont-section-divs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 60px; }

.formul-container {
  height: auto;
  width: 100%;
  padding: 40px 5px;
  background-color: #05c1ebc7;
  display: flex;
  justify-content: space-around;
  overflow: hidden; }

.formul {
  border: #0d8dad 3px double;
  height: 390px;
  padding: 10px;
  width: 40%;
  overflow: hidden; }

.formul-ul-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.formul-li-container {
  padding: 4px; }

.formul-textarea {
  margin: 10px;
  height: 230px;
  width: 80%;
  background-color: #8be7fcb2; }

.cont-img {
  width: 100%; }

@media (max-width: 1100px) {
  .formul-container {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 5px;
    justify-content: space-between; }
  .formul {
    width: 70%;
    height: 88%;
    margin: 10px; }
  .cont-img-container {
    margin-top: 30px;
    height: 80%;
    width: 100%;
    overflow: visible; }
  .cont-img {
    height: 80%;
    width: 100%; } }

@media (max-width: 731px) {
  .cont-section-divs {
    align-items: center; }
  .cont-info-divs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .formul-container {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #05c1ebc7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%; }
  .formul {
    height: 50%;
    width: 75%;
    overflow: hidden;
    margin: 30px 0px; }
  .formul-textarea {
    width: 70%;
    height: 33%;
    margin-top: 5px; }
  .cont-img-container {
    margin: 0%;
    height: 60%;
    width: 100%;
    overflow: visible; }
  .cont-img {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    padding: 0px; } }

@media (max-width: 500px) {
  .formul-container {
    height: 110%; }
  .formul {
    height: 55%;
    width: 85%;
    margin: 10px; }
  .formul-textarea {
    height: 40%; } }
