.prod-section {
  background-color: #3dccec;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  padding: 60px;
  overflow: hidden;
  margin-top: 20px;
}
.img-prod {
  width: 600px;
}
.prod.article {
  display: flex;
  flex-wrap: wrap;
}
.font-prod {
  font-size: x-large !important;
  margin-left: 10px;
}
.lista-productos {
  display: grid;
  grid-template-columns: 4, 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . .";
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 75%;
  justify-items:center;
}
.card {
  background-color: white;
  border-radius: 2px;
  width: 320px;
  height: 500px !important;
  box-shadow: 2px 2px 7px;
  margin: 10px;
  overflow:visible;
}
.card:hover {
  background-color: rgb(250, 248, 246);
}

.card-body {
  overflow-x: visible;
  margin: 3px;
  font-size: medium;
}
.comedero {
  width: 100%;
}

@media (max-width: 1330px) {
  .lista-productos {
    display: grid;
    grid-template-columns: 0,5fr 0,5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". ."
      ". .";
    height: 150%;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .prod-section {
    display: block;
    align-items: start;
    height: auto;
    overflow: visible;
  }
  .img-prod {
    width: 100%;
    border-radius: 30px;
  }

  .lista-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    height: 300%;

  }

}
