
  .prod-section {
    background-color: #3dccec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    padding: 60px;
    overflow: hidden;
  }
  .comedero {
    width: 100%;
  }
  .img-prod {
    width: 600px;
  }
  .prod.article{
    display: flex;
    flex-wrap: wrap;
  }
  .font-prod {
    font-size: x-large !important;
    font-family: sans-serif;
  }
  .lista-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px;
  }
  .card-prod{
    background-color: white;
    border-radius: 5px;
    width: 180px;
    height: 300px !important;
    box-shadow: 3px 3px 5px;
  }
  .card:hover {
    background-color: rgb(250, 248, 246);
  }
  
  .card-body {
    overflow-x: visible;
    margin: 3px;
    font-size: medium;
  }
  
  @media (max-width: 768px) {
    .prod-section {
      display: block;
      align-items: start;
      height: 40%;
      overflow: visible;
    }
    .img-prod {
      width: 100%;
      border-radius: 30px;
    }
  
    .lista-productos {
      display: block;
    }
  
    .card {
      width: 100%;
      height: 700px;
    }
    
    .piedras {
      width: 100%;
    }
  }