



.inicio {
  background-color: #f29696;
  padding: 20px;
}

.section-bottom-index{
  height: 700px;
  font-family: $font-prueba1;
  color: white
}

.eslogan {
  margin-top: 10px;
  font-size: xx-large;
}

.buscador {
  width: 250px;
  padding: 8px;
  margin: 15px;
}

.buscador:hover {
  padding: 10px;
}

input {
  padding: 3px;
  align-items: start;
  border: none;
  border-radius: 60px;
  font-style: italic;
}

input:hover {
  padding: 4px;
}

.img-home {
  align-content: center;
  margin-left: 20%;
}

.inicio-title-PRODC {
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: xx-large;
}

.inicio-section {
  display: flex;
  justify-content: flex-end;
  place-items: center;
}

.container-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "product2 product1";
  padding: 10px;
  margin: 10px;
  background-color: #28c4e7a1;
  border-radius: 10px;
  width: 70%;
  height: 30%;
}

.product1 {
  grid-area: product1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px;
  margin: 20px;
}

.product1:hover {
  background-color: rgb(250, 248, 246);
}

.img1 {
  width: 100%;
}

.product2 {
  grid-area: product2;
  background-color: white;
  border-radius: 10px;
  padding-top: 30px;
  margin: 20px;
  box-shadow: 1px 1px 5px;
}

.img2 {
  width: 40%;
}

.cont-info-prod {
  margin: 30px;
  font-weight: bold;
}

.bay {
  background-color: #0076fc;
  color: white;
  padding: 8px;
  margin-top: 3px;
  border: none;
  border-radius: 8px;
  font-size: medium;
}

.bay:hover {
  background-color: #038eff;
  font-weight: bold;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .buscador {
    width: 200px;
  }

  .eslogan {
    margin-top: 10px;
    font-size: x-large;
  }

  .img-home {
    width: 100%;
    margin-left: 0%;
  }

  .img1 {
    width: 150%;
    overflow: scroll;
  }

  .inicio-title-PRODC {
    font-size: x-large;
  }

  .container-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "product1 product1"
      "product2 product2";
    height: 50%;
    width: 100%;
  }

  .product1 {
    grid-area: product1;
  }

  .img1 {
    width: 110%;
  }

  .product2 {
    grid-area: product2;
    margin-top: 20px;
  }
}