.tex-inicio {
  margin: 10px;
  padding-right: 10%;
  font-size: large;
}
.eslogan {
  margin: 15px;
  font-size: xx-large;
  align-content: center;
}

.buscador {
  width: 250px;
  padding: 8px;
  margin: 15px;
  align-content: center;
}

.buscador:hover {
  padding: 10px;
}

input {
  padding: 3px;
  align-items: start;
  border: none;
  border-radius: 60px;
  font-style: italic;
}

input:hover {
  padding: 4px;
}

.img-home {
  align-content: center;
  margin-left: 20%;
}
.inicio {
  background-color: #f29696;
  padding: 20px;
  h1 {
    font-size: xx-large;
  }
}

.inicio-subtitle {
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: xx-large;
  margin-top: 10px;
}

.inicio-section {
  display: flex;
  justify-content: center;
}

.container-products {
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "product1 product2 product3";
  padding: 3%;
  width: 70%;
  height: 52%;
  transition: all 1s;
  overflow: hidden;
}

.product1 {
  grid-area: product1;
  background-color: white;
  border-radius: 10px;
  padding: 5px 0px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  flex-direction: column;
  transform: translateX(50px);
}

.img1 {
  width: 85%;
}

.product2 {
  grid-area: product2;
  background-color: white;
  border-radius: 10px;
  padding-top: 30px;
  padding: 5px 0px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(50px);
}

.img2 {
  width: 90%;
}

.product3 {
  grid-area: product3;
  background-color: white;
  border-radius: 10px;
  padding: 6px 0px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateX(-50px);
}

.img3 {
  width: 92%;
}

.img-container {
  display: flex;
  justify-content: center;
}

.cont-info-prod {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 30%;
  overflow: hidden;
}

.bay {
  width: 150px;
  background-color: #0076fc;
  color: white;
  padding: 8px;
  margin-top: 3px;
  border: none;
  border-radius: 8px;
  font-size: medium;
}

.bay:hover {
  background-color: #038eff;
  font-weight: bold;
  border-radius: 12px;
}

.inicio-article-links {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "img-adop img-adop  img-vet"
    "img-adop img-adop  img-pelu";
  width: 100%;
  height: 55%;
  margin-top: 20px;
  background-color: rgb(134, 231, 255);
  border-radius: 3%;
  justify-content: center;
  justify-items: center;
  transition: all 1s;
}

.img-adop {
  grid-area: img-adop;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  overflow: hidden;
}
.img-adop:hover {
  transform: translateY(-10px);
  transition: all 1s;
}

.img-vet {
  grid-area: img-vet;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.img-vet:hover {
  transform: translateY(-9px);
  transition: all 1s;
}

.img-pelu {
  grid-area: img-pelu;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.img-pelu:hover {
  transform: translateY(-10px);
  transition: all 1s;
}

.link-adop {
  width: 100%;
}

.links-serv {
  width: 100%;
  height: 100%;
}

.inicio-3rsección {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

@media (max-width: 1126px) {
  .img-home {
    width: 100%;
    margin-left: 0%;
  }

  .img1 {
    width: 110%;
    overflow: scroll;
  }

  .inicio-title-PRODC {
    font-size: large;
  }

  .container-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "product1 product2"
      "product3 product3";
    width: 550px;
    height: 40%;
  }

  .product3 {
    margin: 5% 28%;
  }

  .cont-info-prod {
    padding: 0px;
  }

  .inicio-article-links {
    height: 47%;
  }

  .links-serv {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .buscador {
    width: 200px;
  }

  .eslogan {
    margin-top: 10px;
    font-size: x-large;
  }

  .container-products {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "product1 "
      "product2 "
      "product3 ";
    height: 42%;
    width: 380px;
  }

  .product1 {
    transform: none;
    transition: none;
  }

  .product2 {
    transform: none;
    transition: none;
  }

  .product3 {
    margin: 22px;
    transform: none;
    transition: none;
  }

  .inicio-article-links {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
      "img-adop"
      "img-vet"
      "img-pelu";
    height: auto;
    width: 92%;
    padding: 5px;
    margin: 3% 3%;
    align-items: center;
  }

  .img-adop {
    margin: 0px 20px;
  }

  .img-vet {
    margin: 5px 20px;
  }

  .img-pelu {
    margin: 5px 20px;
  }
}
