 
  .cont-h1 {
    margin: 20px;
    font-size: xx-large;
  }
  .cont-strong {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .cont-section-divs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    padding: 60px;
  }
 
  .formul-container {
    height: 65%;
    width: 100%;
    padding: 40px;
    margin: 20px ;
    background-color: #05c1ebc7;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .formul {
    border: rgb(13, 141, 173) 3px double;
    height: 390px;
    padding: 10px;
    width: 40%;
    overflow: hidden;
  }
  .formul-ul-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .formul-li-container {
    padding: 4px;
  }
  .formul-textarea {
    height: 230px;
    width: 80%;
    background-color: #8be7fcb2;
  }
  .cont-img-container {
    height: 100%;
    width: 40%;
  }
  @media (max-width: 1025px) {

    .formul-container {
      height: 80%;
      width: 100%;
      margin: 0px ;
      padding: 5px;
      justify-content: space-between;
    }
    .formul {
      width: 70%;
      height: 88%;
      margin: 10px;
    }
    .cont-img-container {
      margin-top: 20px;
      height: 80%;
      width: 100%;
      overflow: visible;
    }
  
    .cont-img {
      height: 80%;
      width: 100%;
    }
  }

@media (max-width: 731px) {

    .cont-section-divs {
      align-items: center;
    }
  
    .cont-info-divs {
      display: flex;
      justify-content: flex-start;
     align-items: center;
      
    }
    .formul-container {
      height: 170%;
      width: 100%;
      margin: 0%;
      background-color: #05c1ebc7;
      display: block;
      border-radius: 0%;
    }
    .formul {
      height: 30%;
      width: 85%;
      overflow: hidden;
      padding: 5%;
      margin: 0%;
    }
    .formul-textarea {
      width: 70%;
      height: 56%;
      margin-top: 5px;
    }
  
    .cont-img-container {
      margin-top: 20px;
      height: 100%;
      width: 80%;
      overflow: visible;
    }
  
    .cont-img {
      height: 80%;
      width: 70%;
      margin-left: 0px;
      padding: 0px;
    }
}

  @media (max-width: 500px) {
   
    
    .formul-container {
      align-content: center;
      height: 120%;
      width: 100%;
      border-radius: 0%;
      overflow:hidden;
    }

    .formul {
      height: 45%;
      width: 85%;
    }
    .formul-textarea {
      width: 70%;
      height: 40%;
    }
    .cont-img-container {
      
      height: 50%;
      width: 100%;
      overflow: visible;
    }
  }