.inicio {
  background-color: #f29696;
  padding: 20px;
}

.eslogan {
  margin-top: 10px;
  font-size: xx-large;
}

.buscador {
  width: 250px;
  padding: 8px;
  margin: 15px;
}

.buscador:hover {
  padding: 10px;
}

input {
  padding: 3px;
  align-items: start;
  border: none;
  border-radius: 60px;
  font-style: italic;
}

input:hover {
  padding: 4px;
}

.img-home {
  align-content: center;
  margin-left: 20%;
}

.inicio-title {
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: xx-large;
}

.inicio-section {
  display: flex;
  justify-content: center;
}

.container-products {
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "product1 product2 product3";
  padding: 5%;
  width: 70%;
  height: auto;
}

.product1 {
  grid-area: product1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 7px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.img1 {
  width: 90%;
}

.product2 {
  grid-area: product2;
  background-color: white;
  border-radius: 10px;
  padding-top: 30px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
}

.img2 {
  width: 90%;
}

.product3 {
  grid-area: product3;
  background-color: white;
  border-radius: 10px;
  padding-top: 30px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  overflow: hidden;
}

.img3 {
  width: 87%;
}

.img-container {
  display: flex;
  justify-content: center;
}

.cont-info-prod {
  padding: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 20%;
  overflow: hidden;
}

.bay {
  width: 150px;
  background-color: #0076fc;
  color: white;
  padding: 8px;
  margin-top: 3px;
  border: none;
  border-radius: 8px;
  font-size: medium;
}

.bay:hover {
  background-color: #038eff;
  font-weight: bold;
  border-radius: 12px;
}
.inicio-article-links {
  display: grid;
  grid-template-columns: 0, 5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "img-adop img-adop  img-vet"
    "img-adop img-adop  img-pelu";
  width: 100%;
  height: 50%;
  background-color: rgb(134, 231, 255);
}

.img-adop {
  grid-area: img-adop;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  overflow: hidden;
}
.img-vet {
  grid-area: img-vet;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  align-items: center;
  overflow: hidden;
}
.img-pelu {
  grid-area: img-pelu;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 7px;
  align-items: center;
  overflow: hidden;
}
.links {
  width: 100%;
}

.inicio-3rsección {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
@media (max-width: 1000px) {
  .buscador {
    width: 200px;
  }

  .eslogan {
    margin-top: 10px;
    font-size: x-large;
  }

  .img-home {
    width: 100%;
    margin-left: 0%;
  }

  .img1 {
    width: 110%;
    overflow: scroll;
  }

  .inicio-title-PRODC {
    font-size: x-large;
  }

  .container-products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "product1 "
      "product2 "
      "product3 ";
    height: 100%;
    width: 40%;
  }

  .product1 {
    grid-area: product1;
    margin-top: 20px;
  }

  .product2 {
    grid-area: product2;
  }

  .product3 {
    grid-area: product3;
  }
}
